@model IEnumerable<YourFairShare_MVC.Models.TennatModel>

@{
    ViewBag.Title = "LoadTennats";
}

<h2>LoadTennats</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasKids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasKids)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasPets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name=item.FullName }) |
            
            @Html.ActionLink("Delete", "Delete", new { name = item.FullName })
        </td>
    </tr>
}

</table>
